<div class="ui segment">
    <img class="ui circular medium image" ng-src="{{ $ctrl.photo }}">
    <label><h1> Name :  {{ $ctrl.name }}   </h1></label>               
    <label><h1> AboutMe  : {{ $ctrl.aboutMe }}  </h1></label> 
    <div ui-sref="edit-profile" class="ui green button">Edit</div>
    <a ui-sref="course-create" class="ui blue button"> Create Course</a>
    
</div>
<div class="ui segment">
    <h2 class="ui header">My own course</h2>
  
    <div class="ui cards">
    <course-card ng-repeat="x in $ctrl.courses" course="x" class="card"></course-card>
  </div>

</div>